{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                    <!-- new code -->
                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <!-- end new code -->
                    <p class="card-text">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btnwhite border border-danger border-1 rounded-pill px-4 py-1 my-3 text-danger">
                            Sign Up
                        </button>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
